.chat {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 25% 75%;
    grid-template-rows: 30% 69%;

    .friend-list {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        //border: 2px solid $color-primary;
        border-radius: 0.5rem;
        padding: 2rem;
        background-color: $color-grey-dark-3;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    .room-list {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        //border: 2px solid $color-primary;
        border-radius: 0.5rem;        
        padding: 2rem;
        background-color: $color-grey-dark-3;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    .room {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        //border: 2px solid $color-primary;
        border-radius: 0.5rem;        
        background-color: $color-grey-dark-3;
        box-shadow: 0 1rem 1rem rgba($color-black,.4);

    }

    .logout {
        position: fixed;
        top: 2.1rem;
        right: 3rem;
    }
}